In [5]:
from Utils import Utils
import pandas as pd
import csv
import re

In [6]:
path = 'tweet_history.csv'
tweet_history = open(path, 'w', newline='', encoding="utf-8")

cw = csv.writer(tweet_history)

# load data
uids = [44196397, 30699048, 38271276, 1600237759918374913]
utils = Utils(max_results=100) # limit is 100
for id in uids:
    utils.set_user_id(id)
    url = utils.get_tweet_url()
    params = utils.get_params("tweet")
    json_response = utils.connect_to_endpoint(url, params)
    for i in range(len(json_response['data'])):
        txt = json_response['data'][i]['text']
        txt = txt.replace('\n', ' ')
        txt = re.sub(r'http\S+', '', txt) # remove urls
        txt = re.sub(r'@\S+', '', txt) # remove mentions
        clean_txt = re.sub('[^\sA-Za-z0-9]+', '', txt)
        words = clean_txt.split()
        if len(words) != 0:
            cw.writerow([words])

tweet_history.close()

200
200
200
200

In [8]:
df = pd.read_csv(path)
df

    ['RT', 'Teams', 'completed', 'additional', 'vehicle', 'inspections', 'and', 'reviews', 'rocket', 'and', 'payload', 'are', 'looking', 'good', 'for', 'launch', 'of', 'the', 'H']
0    ['Most', 'important', 'data', 'was', 'hidden',...
1     ['One', 'of', 'the', 'best', 'aircraft', 'ever']
2             ['Oh', 'you', 'know', 'keeping', 'busy']
3    ['To', 'be', 'called', 'AGI', 'it', 'needs', '...
4                                   ['Small', 'world']
..                                                 ...
342  ['The', 'safety', 'of', 'any', 'AI', 'system',...
343  ['Haha', 'pretty', 'close', 'Electrical', 'clo...
344  ['Funny', 'thing', 'is', 'that', 'there', 'was...
345  ['I', 'recently', 'learned', 'that', 'OpenAI',...
346                                          ['Truth']

[347 rows x 1 columns]